# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# Pinecone API Key
PINECONE_API_KEY=your_pinecone_api_key_here

# Pinecone Environment
PINECONE_ENV=your_pinecone_environment_here

# Pinecone Index Name
PINECONE_INDEX_NAME=chatbotai 